<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="icon" type="image/png" href="amazonfavicon.png">
</head>
<body>
<header>
    <div class="navbar">
        <div class="nav-logo border">
            <div class="logo border" >
                <img src="/static/images-removebg-preview.png" height="50px" width="110px" >
            </div>
        </div>
        <div class="nav-address border">
            <div class="add-first">
                <p>Deliver to</p>
            </div>
            <div class="add-second border">
                <i class="fa-solid fa-location-dot"></i>
                <p>India</p>
            </div>
        </div>
        <div class="nav-search">
            <div class="search-select">
                <select>
                    <option>All</option>
                    <option>Art and crafts</option>
                    <option>Art and crafts</option>
                    <option>Art and crafts</option>
                    <option>Art and crafts</option>
                </select>
            </div>
            <div class="search-input">
                <input type="text" placeholder="Search Amazon">
            </div>
            <div class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="nav-language border">
            <span>
                <i class="fa-solid fa-globe"></i>
                <select>
                    <option >EN</option>
                </select>
            </span>
        </div>
        <div class="nav-signin border">
            <div class="signin">
                <span><p>Hello,sign in</p></span>
            </div>
            <div class="Accounts">
                <span><select>
                    <option>Accounts & Lists</option>
                 </select></span>
            </div>
            </div>
        <div class="nav-return border">
            <div class="return">
                <span><p>Returns</p></span>
            </div>
            <div class="orders">
                <span><p>& Orders</p></span>
            </div>
        </div>
        <div class="nav-cart border">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>Cart</p>
        </div>
    </div>
    <div class="panel">
        <div class="panel-all">
            <i class="fa-solid fa-bars"></i>
            <p>All</p>
        </div>
        <div class="panel-ops">
            <a href="#">Today's deals</a>
            <a href="#">Registry</a>
            <a href="#">Prime video</a>
            <a href="#">Gift Cards</a>
            <a href="#">Customer Service</a>
            <a href="#">Sell</p>
        </div>
        <div class="panel-electronics">
            <a href="#">Todays Deals in Electronics</a>
        </div>
    </div>
    <div class="herocontent">
        <div class="hero-msg">
            <p>You are on amazon.com. You can also shop on Amazon India for millions of products with fast local delivery. <a href="index.html">Click here to go to amazon.in</a></p>
        </div>
    </div>
    <div class="shopping-ops">
        <!-- row 1 -->
        <div class="box1 box">
            <h2 style="text-align: center;">Footwear</h2>
            <div class="box-img" style="background-image: url('/static/box5.png');"></div>
            <a href="#">See more</a>
        </div>
        <div class="box2 box">
            <h2 style="text-align: center;">Electronics</h2>
            <div class="box-img" style="background-image: url('/static/box1.png');"></div>
            <a href="#">See more</a>
        </div>
        <div class="box3 box">
            <h2 style="text-align: center;">Kitchen Appliances</h2>
            <div class="box-img" style="background-image: url('/static/box3.png');"></div>
            <a href="#">See more</a>
        </div>
        <div class="box4 box">
            <h2 style="text-align: center;">Treding in Women</h2>
            <div class="box-img" style="background-image: url('/static/box4.png');"></div>
            <a href="#">See more</a>
        </div>
        <!-- row 2 -->
        <div class="box1 box">
            <h2 style="text-align: center;">Gifts for Mothers Day</h2>
            <div class="box-img" style="background-image: url('/static/box7.png');"></div>
            <a href="#">See more</a>
        </div>
        <div class="box2 box">
            <h2 style="text-align: center;">Jewellery</h2>
            <div class="box-img" style="background-image: url('/static/box6.png');"></div>
            <a href="#">See more</a>
        </div>
        <div class="box3 box">
            <h2 style="text-align: center;">Decor</h2>
            <div class="box-img" style="background-image: url('/static/box2.png');"></div>
            <a href="#">See more</a>
        </div>
        <div class="box4 box">
            <h2 style="text-align: center;">Get your Game ON!</h2>
            <div class="box-img" style="background-image: url('/static/box8.png');"></div>
            <a href="#">See more</a>
        </div>
        <!-- row 3 -->
        <div class="box1 box">
            <h2 style="text-align: center;">Level up your beauty routine</h2>
            <div class="box-img" style="background-image: url('/static/box10.png');"></div>
            <a href="#">See more</a>
        </div>
        <div class="box2 box">
            <h2 style="text-align: center;">Most-loved travel essentials</h2>
            <div class="box-img" style="background-image: url('/static/box11.png');"></div>
            <a href="#">See more</a>
        </div>
        <div class="box3 box">
            <h2 style="text-align: center;">Toys for all ages</h2>
            <div class="box-img" style="background-image: url('/static/box9.png');"></div>
            <a href="#">See more</a>
        </div>
        <div class="box4 box">
            <h2 style="text-align: center;">Most-loved watches</h2>
            <div class="box-img" style="background-image: url('/static/box12.png');"></div>
            <a href="#">See more</a>
        </div>
    </div>
</header>

</body>
</html>